@font-face {
  font-family: "BauhausModern";
  src: url(font/bauhaus_modern.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.button {
  background-color: Transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-family: "BauhausModern";
  transition-duration: 0.2s;
}

.button:hover {
  background-color: white;
  color: black;
}
